*{
  background-color: rgb(243, 234, 222);
}
h1{
 background-color: rgb(205, 190, 171);
 text-align: center;
font-family: var(--bs-body-font-family);
height: 60px;
}

form{
  margin-top: 1px;
   padding: 650px;
   width: 200px;
   padding-top: 30px;
  
  
}

.h3{
  padding-top: 50px;
  text-align: center;
  color: burlywood;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
